body {
  width: 100%;
  height: 100vh;
  /* background-image: linear-gradient(120deg, #89f7fe, #66a6ff); */
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  background-repeat: no-repeat;
  background-attachment: fixed
}

.App {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  color: #333;
}

.list {
  /* width: 100%; */
}

.item {
  width: 100%;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: #fff;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  /* text-shadow: 0 0 2px #8888; */
  padding: 30px 0 10px;
}

.message {
  color: #888;
  margin-bottom: 20px;
  text-align: center;
}

.avatar {
  min-width: 64px;
  width: 64px;
  height: 64px;
}

.avatar .icon {
  width: 100%;
  height: 100%;
}

.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  padding-left: 10px;
}

.name,
.money {
  font-weight: bold;
  padding-bottom: 4px;
}

.belong {
  color: #888;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.money {
  flex: 1;
  color: #aaa;
  font-size: 18px;
  padding-right: 10px;
  word-break: break-all;
  word-wrap: break-word;
  text-align: right;
}

.money span {
  font-size: 14px;
  color: #ccc;
}